*
{
 margin:0;
 padding:0;
}
a { color: inherit; } 

body
{
    font-family: sans-serif; 
}
 
#nav-bar
{
    position: sticky;
    background-color: #5D534A;
    text-decoration-color: none !important;
    color: #060000 !important;
    top :0;
    z-index:10;
}

.navbar-brand img{
    height: 50px;
    padding-left: 20px;
}
.nav-bar li{
    padding: 0, 10;
}
.nav-item li a{
    background-color:#060000;
    margin-top: -100;
    text-decoration: none !important;
    color: #060000 !important;
    font-weight: 600;
    float:right;
    text-align: left;
}
.link{
    background-color:#060000;
    margin-top: -100;
    text-decoration: none !important;
    color: #060000 !important;
    font-weight: 600;
    float:right;
    text-align: left;

}
.fa-bars{
       color: #0c0000 !important;
       font-size: 30px;
}
.navbar-toggler{
    outline: none !important;
}

/* hero section */

.hero{
    background-color: #5D534A;
   text-align: start;
   justify-content: start;
     color: white;
}
.title{
    font-size: 50px;
    font-weight: 600;
    margin-top: 5rem;
}
.title-body{ 
      text-align: start;
    margin-top: 5rem;
}
.search {
    width: 400;
    margin: 20;
    margin-top: 2rem;
    align-content: center;
    justify-items: center;
     
    margin-bottom: 10px; /* Added */
    width: 400px;


.form-control{
    border-radius: 100px;
}

    
}
.hero-img{
 
  width: 500px;
  height: 300px; 
  border-radius: 10px;
}

/* Over a decade we’re still exist?  */
.services{
    margin-top: 30px;
    
    text-align: center;

    .exist {
          font-size: 40px;
         font-weight: 500px;
         text-align: center;
    }
    .services-house{
        font-size: 10px;
        margin-top: -20px;
        
    }
}


.customers-sevices{
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    font-weight: 400px;
}
.sevice-img{
    align-items: center;
    justify-items: center;
    margin-top:20px ;
    width: 400px;
    /* height: 50px;  */

}


/* invest for future */
.card-invest{
   align-items: center;
   
   justify-content: center;
   
   margin-top: 50px;
   /* padding-right: -50px; */
}

.card-body-invest{
    width: 400px;


    .card-title-invest{
         font-size: 20px;
         font-weight: 500;
    }
    .btn-invest{
        margin-top: 30px;
        border-radius: 10px;
        width: 80px;
    }
};
/* Featuresd Properties */

.featuresd-pro{
    text-align: center;
    margin-top: 40px;
    color: aquamarine;


}

.feature{
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;

}
 .outstanding{
    text-align: center;
    font-size: 10;
    margin-top: -10px;
    
 }

 .p{
    text-align: center;
 }




 /* CONTACT US FORM */


 #nav-bar-contact{
    position: sticky;
    background-color: #004346;
    text-decoration-color: none !important;
    color: #060000 !important;
    top :0;
    z-index:10;
  }
  

  .contactus-body{
     background-color: #004346;
     color: aliceblue
  }
  
  .contact-us{
    margin-top: 5rem;
    font-size: 30px;
         font-weight: 300px;
         text-align: center;

  }
  .form{
    

    margin-top: 5rem;
    padding: 20px;
     margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 400px;

    /* .border{
         border: #e8efef;
         border-width: 500px;

    } */
    .formbutton{
        margin-top: 2rem;
        
        float: none; /* Added */
         margin-bottom: 10px; /* Added */
      
    }

  }



  /* footer styling */
  .footer{
    position: sticky;
    background-color: #CFDAC8;
    text-decoration-color: none !important;

  }


.footerimgtext{
       margin-top: 20;
       font-size: 10;
}
  

/* about us page styling */
.aboutustitle{
    font-size: 40px;
     font-weight: 500;
     margin-top: 5rem;
}
.textbody{
    padding: 5rem;  
    text-align: center;
     word-break: break-word

  }